# exposed port
:28080 {

    # define web root
    root * /usr/share/caddy

    # enable caddy template engine for index.html
    templates index.html

    # enable file server for all paths under web root
    file_server /*

    # If the request does not match any static files, 
    # rewrite to index.html for client side routing
    try_files {path} /index.html

    # secure page with http basic auth
    basicauth /* {
        iris JDJhJDEwJHBNb1ZNOUl6d3FkMzNubHlsamlvd09LajNpbG5zUEV1ZkZyblg0M1VIMEhabGhFVFlSbkpp
    }
}