.v-application--is-ltr {
  .v-stepper--vertical {
    width: 100%;
    padding-bottom: 0;
    .v-stepper__step__step {
      border-radius: 0;
      font-size: 1rem;
      width: 36px;
      height: 36px;
    }
    .v-stepper__step {
      padding: 0 !important;
      margin-top: 8px !important;
      margin-bottom: 8px !important;
    }
    .v-stepper__content {
      margin: 0 !important;
      padding: 0 0 0 18px !important;
      border-left: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}