[Unit]

Description=IRIS Client - {{ client.name }}
Requires=docker.service
After=docker.service

[Service]

User=root
WorkingDirectory={{ install_dir }}
ExecStartPre=/usr/local/bin/docker-compose -p {{ client.name }} --project-directory {{ env_dir }}/{{ client.name }} down
ExecStart=/usr/local/bin/docker-compose -p {{ client.name }} --project-directory {{ env_dir }}/{{ client.name }} up
ExecStop=/usr/local/bin/docker-compose -p {{ client.name }} --project-directory {{ env_dir }}/{{ client.name }} down

[Install]
WantedBy=multi-user.target
