<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>IRIS</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<h1>Willkommen bei IRIS Webanwendung</h1>
	<img th:src="@{/images/iris-logo.png}" width="250" />

	<form method="POST" th:action="@{/contacts}" th:object="${contacts}">
		<h3>Ihr Kontakt:</h3>
		<div>
			<label for="name">Vorname: </label>
			 <input type="text"				th:field="*{firstName}" />
			<span class="validationError" th:if="${#fields.hasErrors('*{firstName}')}"
				th:errors="*{firstName}">Name Error</span>
			<br />
			
			<label for="name">Nachname: </label>
			 <input type="text"				th:field="*{lastName}" />
			<span class="validationError" th:if="${#fields.hasErrors('*{lastName}')}"
				th:errors="*{lastName}">Name Error</span>
			<br />
		</div>

		<input type="hidden" th:field="*{code}" id="code" />

		<button>Eingabe bestätigen</button>
	</form>
</body>
</html>
