name: private-proxy-gotham
directory:
  type: api
  settings:
    jsonrpc_client:
      tls:
        certificate_file: "/$DIR/../../certs/private-proxy-gotham.crt"
        key_file: "/$DIR/../../certs/private-proxy-gotham.key"
        ca_certificate_files: [ "/$DIR/../../certs/root.crt" ]
    ca_certificate_files: [ "/$DIR/../../certs/root.crt" ]
    endpoints: [ "https://iris.staging.iris-gateway.de:3322/jsonrpc" ]
    server_names: [ "sd-1" ]
channels: # defines all the channels that we want to open when starting the server
  - name: main gRPC server # accepts incoming gRPC connections to deliver and receive messages
    type: grpc_server
    settings:
      bind_address: "0.0.0.0:7776"
      tls:
        ca_certificate_files: [ "/$DIR/../../certs/root.crt" ]
        certificate_file: "/$DIR/../../certs/private-proxy-gotham.crt"
        key_file: "/$DIR/../../certs/private-proxy-gotham.key"
  - name: main JSON-RPC client # creates outgoing JSONRPC connections to deliver and receive messages
    type: jsonrpc_client
    settings:
      endpoint: http://private-proxy:8877/jsonrpc
  - name: main gRPC client # creates outgoing gRPC connections to deliver and receive messages
    type: grpc_client
    settings:
      tls:
        ca_certificate_files: [ "/$DIR/../../certs/root.crt" ]
        certificate_file: "/$DIR/../../certs/private-proxy-gotham.crt"
        key_file: "/$DIR/../../certs/private-proxy-gotham.key"
  - name: main JSON-RPC server # accepts incoming JSONRPC connections to deliver and receive messages
    type: jsonrpc_server
    settings:
      bind_address: "0.0.0.0:7766"
      tls:
        ca_certificate_files: [ "/$DIR/../../certs/root.crt" ]
        certificate_file: "/$DIR/../../certs/private-proxy-gotham.crt"
        key_file: "/$DIR/../../certs/private-proxy-gotham.key"
        verify_client: false
