vars:
  PROXY_OP:
    source: env
    variable: PROXY_OP
    type: string
  PROXY_CLIENT_CERT:
    source: env
    variable: PROXY_CLIENT_CERT
    type: string
  PROXY_CLIENT_CERT_KEY:
    source: env
    variable: PROXY_CLIENT_CERT_KEY
    type: string    
  TRUSTED_CA_CRT:
    source: env
    variable: TRUSTED_CA_CRT
    type: string        

private:
  name: "$PROXY_OP"
  database_file: /app/db/private-proxy-announcements.db
  bind_address: 0.0.0.0:5545
  internal_endpoint: 
    jsonrpc_path: /data-submission-rpc
    jsonrpc_client:
      endpoint: http://iris-client:8092/data-submission-rpc    
    tls:
      verify_client: false
      server_name: proxy.test-gesundheitsamt.de
      ca_certificate_files: [ "$DIR/../../certs/$TRUSTED_CA_CRT" ]      
    
  jsonrpc_client:
    endpoint: https://private-proxy-eps:7766/jsonrpc
    tls:
      server_name: "$PROXY_OP"
      ca_certificate_files: [ "$DIR/../../certs/$TRUSTED_CA_CRT" ]
      certificate_file: "$DIR/../../certs/$PROXY_CLIENT_CERT"
      key_file: "$DIR/../../certs/$PROXY_CLIENT_CERT_KEY"
  jsonrpc_server: # the JSON-RPC server that the EPS server uses for communication
    bind_address: 0.0.0.0:8877