.theme--light.v-btn {
  color: rgba(0, 0, 0, 0.87) !important;
}

a:active,
.v-btn--active,
a:hover {
  outline-width: 0;
  text-decoration: underline #46ff9f;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}

.v-data-table {
  thead {
    tr {
      height: initial;
    }
  }
  tr {
    height: initial;
    /*height: 100px; TODO: Fix this shit. It applies to all data-tables globally.*/
  }
}

.twolineTable {
  tr {
    height: 100px;
  }
}

.alertOverlay {
  position: fixed;
  z-index: 9999;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}