# Build and package image for iris-client-bff and publish it to docker.io
# https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#build-image

name: BFF Develop

on:
  push:
    branches:
      - develop
    paths:
      - iris-client-bff/**
      - .github/workflows/bff_develop.yml
      - .github/workflows/publish-test-results.yml@develop
      - .github/workflows/trivy-container-scan.yml
  pull_request:
    branches:
      - develop

defaults:
  run:
    shell: bash

jobs:
  build_and_push:
    name: Build and push to docker.io
    runs-on: ubuntu-latest
    
    # Map a step output to a job output
    outputs:
      image-ref: ${{ steps.meta.outputs.tags }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'liberica'
          java-version: '17'
          cache: 'maven'

      - name: Create image tag
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: inoeg/iris-client-bff

      - name: build, package and publish the image
        run: |
          mvn -B clean verify spring-boot:build-image -am -pl iris-client-bff -Dspring-boot.build-image.publish=true -Dversion.tag=${{ steps.meta.outputs.version }}
        env:
          DOCKER_HUB_USER: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_HUB_PW: ${{ secrets.DOCKER_HUB_PW }}
          
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: |
            **/surefire-reports/*.xml
            **/failsafe-reports/*.xml
            !**/failsafe-reports/failsafe-summary.xml

  publish-test-results:
    name: Publish Test Results
    needs: build_and_push
    uses: iris-connect/iris-client/.github/workflows/publish-test-results.yml@develop

  container_scan:
    name: Container Scan
    needs: build_and_push
    uses: iris-connect/iris-client/.github/workflows/trivy-container-scan.yml@develop
    with:
      image-refs: "[ '${{needs.build_and_push.outputs.image-ref}}' ]"
