name: FE Develop

on:
  push:
    branches: 
      - develop
    paths:
      - iris-client-fe/**
      - .github/workflows/fe_develop.yml
  pull_request:
    branches:
      - develop

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2.3.5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Create image tag
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: inoeg/iris-client-frontend

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PW }}

      - name: Build and push to docker.io
        uses: docker/build-push-action@v2.7.0
        with:
          context: ./iris-client-fe/
          tags: ${{ steps.meta.outputs.tags }}
          push: true
          build-args: |
            VUE_APP_VERSION_ID=${{ steps.meta.outputs.tags }}
            VUE_APP_BUILD_ID=${{ github.sha }}
          labels: |
            iris.client-fe.image.revision=${{ github.sha }}

  container_scan:
    name: Trivy Container Scan
    needs: push_to_registry
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.5

      - name: Create image tag
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: inoeg/iris-client-frontend
      
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ steps.meta.outputs.tags }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: 'trivy-results.sarif'
