# Build and Publish Docker Image for NGINX

name: NGINX Develop

on:
  push:
    branches:
      - develop
    paths:
      - infrastructure/docker/nginx/**
      - .github/workflows/nginx_develop.yml

jobs:
  push_to_registry:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2.3.5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Create image tag
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: inoeg/iris-client-nginx

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PW }}

      - name: Build and push to docker.io
        uses: docker/build-push-action@v2.7.0
        with:
          context: ./infrastructure/docker/nginx/
          tags: ${{ steps.meta.outputs.tags }}
          push: true
          labels: |
            iris.client-nginx.image.revision=${{ github.sha }}

  container_scan:
    name: Trivy Container Scan
    needs: push_to_registry
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.5

      - name: Create image tag
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: inoeg/iris-client-nginx
      
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ steps.meta.outputs.tags }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: 'trivy-results.sarif'
