# Release the client with all components according to Gitflow

name: Release according to Gitflow

on:
  push:
    branches:
      - main
      - release
      - next
      - next-major
      - 1.**

defaults:
  run:
    shell: bash
      
jobs:
  release-client:
    name: Build and release Client
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0
        with:
          persist-credentials: false

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Node.js
        uses: actions/setup-node@v2.4.1
        with:
          # Version Spec of the version to use.  Examples: 12.x, 10.15.1, >=10.15.0
          node-version: 12.x

      - name: Cache local Maven repository
        uses: actions/cache@v2.1.6
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PW }}
      
      - run: chmod +x ./.prepare-release.sh
  
      - name: Build all and create release with semantic-release
        uses: cycjimmy/semantic-release-action@v2
        # you'll need to add an `id` in order to access output variables
        id: semantic
        with:
          # You can specify specifying version range for the extra plugins if you prefer.
          extra_plugins: |
            @semantic-release/changelog
            @google/semantic-release-replace-plugin
            @semantic-release/exec
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.JK_GITHUB_TOKEN }}
          
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: |
            **/surefire-reports/*.xml
            **/failsafe-reports/*.xml
            !**/failsafe-reports/failsafe-summary.xml

  publish-test-results:
    name: Publish Test Results
    needs: release-client
    uses: iris-connect/iris-client/.github/workflows/publish-test-results.yml@develop

  container_scan:
    name: Container Scan
    needs: release-client
    uses: iris-connect/iris-client/.github/workflows/trivy-container-scan.yml@develop
    with:
        image-refs: "[ 'inoeg/iris-client-bff:latest', 'inoeg/iris-client-frontend:latest', 'inoeg/iris-client-nginx:latest', 'inoeg/iris-client-eps:latest', 'inoeg/iris-client-proxy:latest', 'inoeg/app-eps:latest']"
