name: Trivy Config Scan

on:
  push:
    branches: [ develop, release, main ]
  pull_request:
    branches: [ develop, release, main ]
  schedule:
    - cron: '10 4 * * *'

jobs:
  config_scan:
    name: Trivy Config Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Trivy config scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'
          hide-progress: false
          exit-code: '1'
          
# The upload is currently not working, but I'm leaving it in in case a later update to the Trivy action fixes it.
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
          
      - name: Show Trivy config errors
        uses: aquasecurity/trivy-action@master
        if: failure()
        with:
          scan-type: 'config'
          severity: 'CRITICAL,HIGH,MEDIUM'          
          hide-progress: false
